
<body>
    <h1 class="admin_title">Administración de Usuarios</h1>
    <div class="admin_container"> 
    <table>
        <thead >
            <tr class="admin_table_title">
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody >
            {{#each users}}
            <tr class="admin_table_data">
                <td>{{this.first_name}} {{this.last_name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.role}}</td>
                <td>
                    {{#unless this.isAdmin}}
                    <button onclick="changeRole('{{this._id}}', 'admin')">Cambiar Rol</button>
                    {{/unless}}
                    <button onclick="deleteUser('{{this._id}}')">Eliminar</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
    <script src="/js/adminUsers.js"></script>
</body>

